RewriteEngine on

RewriteRule ^([a-zA-Z0-9_\-]+)$ index.php?show=$1
#RewriteRule ^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)$ index.php?show=$1&platform=$2
#RewriteRule ^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)$ index.php?show=$1&platform=$2&idty=$3 